* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  min-height: 100%;
}
.grid-container > * {
  /* box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
  border-radius: 4px; */
  /* padding: 10px; */
  /* text-align: center; */
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar" 80px
    "sidebar" 50px
    "main" auto
    "footer" 100px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ---------------------------------------Navbar------------------------------------------- */
.navbar {
  grid-area: navbar;
  align-self: center;
  background-color: #161e2c;
  height: 80px;
}
.navbar > ul {
  /* background: #eee; */
  height: 100%;
  padding: 5px;
  /* box-shadow: 0 3px 12px 0 gray; */
}
.grid-navbar {
  display: grid;
  width: 100%;
  height: 80px;
  grid-template-columns: repeat(24, 1fr);
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.nav-item1 {
  grid-column: 3/4;
  justify-self: flex-start;
  height: 100%;
}
.nav-item2 {
  grid-column: 8/18;
  grid-row: 1/2;
  justify-self: flex-end;
}
.nav-item4 {
  grid-column: 18/19;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: center;
  height: 100%;
}
.navLogout {
  grid-column: 19/22;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
.navPublic {
  grid-column: 22/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}
.navBtn {
  width: 130px;
  height: 35px;
  border: 1px solid rgb(51, 181, 229);
  border-radius: 5em;
  text-align: center;
  padding: 7px 9px;
}
.navBtn:hover {
  background: rgb(164, 48, 223);
}
.navBtn > a {
  color: white;
}
/* .itemLogout {
  
} */
.itemPub {
  background: rgba(164, 48, 223, 0.527);
}
.nombre-empresa {
  color: #eee;
  font-weight: bold;
}
.logo {
  width: 70px;
  object-fit: cover;
}
.img-perfil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
/* ---------------------------------------Fin Navbar------------------------------------------- */
/* ---------------------------------------Sidebar------------------------------------------- */
.sidebar {
  grid-area: sidebar;
}
.menu-lateral {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.menu-lateral ul {
  padding: 20px 0 0;
}
.menu-lateral li {
  border-radius: 0 50px 50px 0;
}
.menu-lateral li:hover {
  background: #eeeeee;
}
.menu-lateral a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  color: #838688;
}
.menu-lateral .fas {
  padding: 0 20px;
  min-width: 60px;
}
.line {
  border-bottom: 1px solid #c0c0c0;
  margin: 7px 0;
}
.cont-nav {
  display: inline;
}
/* ---------------------------------------Fin Sidebar------------------------------------------- */
/* ---------------------------------------Main------------------------------------------- */
.main {
  grid-area: main;
}
.main > h2 {
  margin: 30px;
}
.img-publicaciones {
  width: 300px;
}
.items {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.items > h1 {
  margin: 20px;
}
.items img {
  margin-bottom: 20px;
}
.grid-main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.items p {
  margin: 15px;
}
.info-basica {
  grid-column: 3 / 11;
  margin-bottom: 20px;
}
/* ---------------------------------------Footer------------------------------------------- */
.footer {
  grid-area: footer;
  background: #161e2c;
  color: #eee;
}
.grid-footer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 1fr 1fr 50px;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
  align-items: center;
}
.grid-footer > h4 {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
}
h4 > a {
  color: #eee;
}
.developer > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.developer > h4 {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.logo-footer {
  grid-column: 1/6;
  grid-row: 1/-1;
  justify-self: center;
  align-self: flex-start;
  width: 160px;
  height: 160px;
}
.developers {
  grid-column: 6/12;
  justify-self: center;
  align-self: flex-start;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
}
.developer1 {
  grid-column: 6/8;
  grid-row: 2/3;
  justify-self: center;
}
.developer2 {
  grid-column: 7/9;
  grid-row: 3/4;
  justify-self: center;
}
.developer3 {
  grid-column: 8/10;
  grid-row: 2/3;
  justify-self: center;
}
.developer4 {
  grid-column: 9/11;
  grid-row: 3/4;
  justify-self: center;
}
.developer5 {
  grid-column: 10/12;
  grid-row: 2/3;
  justify-self: center;
}
.copy {
  grid-column: 1/-1;
  grid-row: 4/-1;
  justify-self: center;
  width: 100%;
  background: #202329;
  padding: 8px;
}
.copy > h4 {
  text-align: center;
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* ---------------------------------------Fin Footer------------------------------------------- */
/* ---------------------------------------Responsive--------------------------------------- */
@media (max-width: 575.98px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "navbar" 200px
      "sidebar" 50px
      "main" auto
      "footer" 980px /
      auto;
  }
  /* navbar */
  .navbar {
    height: 200px;
  }
  .grid-navbar {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(4, 1fr)!important;
    grid-template-rows: repeat(4, 1fr)!important;
  }
  ul>li>a{
    display: block;
    width: inherit;
  }
  ul>li>a:hover{
    color:rgb(51, 181, 229);
  }
  .nav-item1 {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .nav-item2 {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
  }
  .nav-item4 {
    display: none;
  }
  .navLogout {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
  .navPublic {
    grid-column: 1/-1;
    grid-row: 4/-1;
  }
  .navBtn {
    width: inherit;
    height: 35px;
    text-align: center;
    padding: 7px 9px;
    border: 0;
    border-radius: 0;
  }
  .navBtn:hover {
    background: initial;
  }
  .itemPub {
    background: initial;
  }
  /* Main */
  .info-basica {
    grid-column: 2/ 12;
    margin-bottom: 20px;
  }
  .form-info > a > label {
    width: 30%;
    font-size: .8rem;
  }
  .form-info > a > h4 {
    width: 60%;
    font-size: .8rem;
  }
  .form-info > a > fas {
    width: 2%;
  }

  .items {
    grid-column: 2/12;
  }
  .items p {
    margin: 15px 60px;
  }
  /* Aside bar */
  .cont-nav {
    display: none;
  }
  .menu-lateral > ul > li > a > i {
    font-size: 30px;
  }
  .menu-lateral ul {
    position: fixed;
    width: 80px;
  }
  .menu-lateral .fas {
    padding: 0 0;
  }
  /* Footer */
  .grid-footer {
    grid-template-rows: repeat(10, 1fr);
  }
  .logo-footer {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
  .developers {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .developer1 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
  .developer2 {
    grid-column: 1/-1;
    grid-row: 6/7;
  }
  .developer3 {
    grid-column: 1/-1;
    grid-row: 7/8;
  }
  .developer4 {
    grid-column: 1/-1;
    grid-row: 8/9;
  }
  .developer5 {
    grid-column: 1/-1;
    grid-row: 9/10;
  }
  .copy {
    grid-column: 1/-1;
    grid-row: 9/-1;
    align-self: flex-end;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid-container {
    grid-template:
      "navbar " 80px
      "sidebar " auto
      "main" auto
      "footer " 980px /
      auto;
  }
  /* Main */
  .info-basica {
    grid-column: 2 / 12;
    margin-bottom: 20px;
  }
  .form-info > a > label {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
    overflow: hidden;
  }
  .form-info > a > h4 {
    display: inline-block;
    width: 62%;
    margin-bottom: 5px;
    overflow: hidden;
  }
  .form-info > a > fas {
    display: inline-block;
    width: 2%;
    margin-bottom: 5px;
    overflow: hidden;
  }
  .items p {
    margin: 15px 60px;
  }
  .items {
    grid-column: 2/12;
  }
  /* navbar */
  .nav-item1 {
    grid-column: 1/2;
  }
  .nav-item2 {
    grid-column: 2/10;
  }
  .nav-item4 {
    display: none;
  }
  .navLogout {
    grid-column: 11/18;
  }
  .navPublic {
    grid-column: 18/-1;
  }
  /* Aside bar */
  .cont-nav {
    display: none;
  }
  .menu-lateral > ul > li > a > i {
    font-size: 30px;
  }
  .menu-lateral ul {
    position: fixed;
    width: 80px;
  }
  .menu-lateral .fas {
    padding: 0 0;
  }
  .menu-lateral ul {
    position: fixed;
  }
  /* Footer */
  .grid-footer {
    grid-template-rows: repeat(10, 1fr);
  }
  .logo-footer {
    grid-column: 1/-1;
    grid-row: 1/3;
  }
  .developers {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .developer1 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
  .developer2 {
    grid-column: 1/-1;
    grid-row: 6/7;
  }
  .developer3 {
    grid-column: 1/-1;
    grid-row: 7/8;
  }
  .developer4 {
    grid-column: 1/-1;
    grid-row: 8/9;
  }
  .developer5 {
    grid-column: 1/-1;
    grid-row: 9/10;
  }
  .copy {
    grid-column: 1/-1;
    grid-row: 9/-1;
    align-self: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .grid-container {
    grid-template:
      "navbar navbar " 80px
      "sidebar main " auto
      "footer footer " 420px /
      300px auto;
  }
  .info-basica {
    grid-column: 1 / 12;
    margin-bottom: 20px;
  }
  .form-info > a > label {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
  }
  .form-info > a > h4 {
    display: inline-block;
    width: 62%;
    margin-bottom: 5px;
  }
  .form-info > a > fas {
    display: inline-block;
    width: 2%;
    margin-bottom: 5px;
  }
  /* navbar */
  .nav-item1 {
    grid-column: 3/4;
  }
  .nav-item2 {
    grid-column: 6/13;
  }
  .nav-item4 {
    grid-column: 13/14;
  }
  .navLogout {
    grid-column: 14/19;
  }
  .navPublic {
    grid-column: 19/-1;
  }
}

@media (min-width: 992px) and (max-width: 1209px) {
  .grid-container {
    grid-template:
      "navbar navbar " 80px
      "sidebar main " auto
      "footer footer " 420px /
      300px auto;
  }
  .info-basica {
    grid-column: 1 / 12;
    margin-bottom: 20px;
  }
  .form-info > a > label {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
  }
  .form-info > a > h4 {
    display: inline-block;
    width: 62%;
    margin-bottom: 5px;
  }
  .form-info > a > fas {
    display: inline-block;
    width: 2%;
    margin-bottom: 5px;
  }
  .menu-lateral ul {
    position: relative;
  }
  /* navbar */
  .nav-item1 {
    grid-column: 3/4;
  }
  .nav-item2 {
    grid-column: 8/15;
  }
  .nav-item4 {
    grid-column: 15/17;
  }
  .navLogout {
    grid-column: 17/21;
  }
  .navPublic {
    grid-column: 21/-1;
  }
}

@media (min-width: 1210px) {
  .grid-container {
    grid-template:
      "navbar navbar " 80px
      "sidebar main " auto
      "footer footer " 420px /
      300px auto;
  }
  .info-basica {
    grid-column: 2 / 11;
    margin-bottom: 20px;
  }
  .menu-lateral ul {
    position: relative;
  }
}
