/* ---------------------------------------Main------------------------------------------- */
.card-publicacion {
  grid-column: 2/12;
  padding-bottom: 20px;
}
fieldset span {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}
.solicitudes {
  background: tomato;
}
.likes {
  background: steelblue;
}
.asignado {
  background: darkgreen;
  width: 110px;
}
.btn-accion{
  display: flex;
  justify-content: flex-end;
}
.btn-publicacion {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  color: #838688;
}
.btn-publicacion.eliminar:hover {
  background: #eeeeee;
  color: crimson;
}
.btn-publicacion.editar:hover {
  background: #eeeeee;
  color: green;
}
.fas.fa-trash-alt,
.fas.fa-pencil-alt {
  padding-right: 5px;
}
fieldset {
  padding: 10px;
  border: 1px dashed #838688;
}
fieldset p {
  padding-bottom: 10px;
}
/* ---------------------------------------Fin Main------------------------------------------- */
@media (max-width: 575.98px) {
  .card-publicacion {
    grid-column: 3/12;
  }
  .btn-publicacion {
    width: 150px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-publicacion {
    grid-column: 3/12;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .grid-container {
    grid-template:
      "navbar navbar " 80px
      "sidebar main " auto
      "footer footer " 420px /
      250px auto;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px)  {
}
@media (min-width: 1210px) {
}
