* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  min-height: 100%;
}
.grid-container > * {
  /* box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
  border-radius: 4px; */
  /* padding: 10px; */
  /* text-align: center; */
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar" 50px
    "sidebar" 50px
    "main" auto
    "footer" 100px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "navbar navbar" 60px
      "sidebar main" auto
      "footer footer" 100px /
      300px auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "navbar navbar navbar" 60px
      "sidebar main main" auto
      "footer footer footer" 100px /
      300px auto 200px;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ---------------------------------------Navbar------------------------------------------- */
.navbar {
  grid-area: navbar;
  align-self: center;
}
.navbar > ul {
  background: #eee;
  height: 100%;
  padding: 5px;
  box-shadow: 0 3px 12px 0 gray;
}
.grid-navbar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.nav-item1 {
  grid-column: 1/2;
  justify-self: center;
}
.nav-item2 {
  grid-column: 4/9;
}
.nav-item2 > input {
  width: 95%;
  border: 1px solid #838688;
  border-radius: 5px;
  height: 30px;
}
.btn-search {
  width: 4%;
  height: 30px;
  color: #838688;
}
.nav-item3 {
  grid-column: 11/12;
  justify-self: end;
}
.logo {
  width: 95%;
  max-width: 50px;
  object-fit: cover;
}
.img-perfil {
  width: 95%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.fab.fa-empire {
  font-size: 40px;
  color: #838688;
}
/* ---------------------------------------Fin Navbar------------------------------------------- */
/* ---------------------------------------Sidebar------------------------------------------- */

.sidebar {
  grid-area: sidebar;
  /* background: slateblue; */
}
.menu-lateral {
  /* position: fixed; */
  /* background: #fefe; */
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.menu-lateral ul {
  /* background: steelblue; */
  padding: 20px 0 0;
}
.menu-lateral li {
  /* background: steelblue; */
  border-radius: 0 50px 50px 0;
}
.menu-lateral li:hover {
  background: #eeeeee;
}
.menu-lateral a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  color: #838688;
}
.menu-lateral .fas {
  padding: 0 20px;
  min-width: 60px;
}
.line {
  border-bottom: 1px solid #c0c0c0;
  margin: 7px 0;
}
/* ---------------------------------------Fin Sidebar------------------------------------------- */
/* ---------------------------------------Main------------------------------------------- */
.main {
  grid-area: main;
  /* background: tomato; */
}
.main > h2 {
  margin: 30px;
}
.img-publicaciones {
  width: 300px;
}
.items {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.items > h1 {
  margin: 20px;
}
.items img {
  margin-bottom: 20px;
}
.grid-main {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.card-publicacion {
  grid-column: 2/12;
  padding-bottom: 20px;
}
fieldset span {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}
.solicitudes {
  background: tomato;
}
.likes {
  background: steelblue;
}
.asignado {
  background: darkgreen;
  width: 110px;
}
.btn-accion{
  display: flex;
  justify-content: end;
}
.btn-publicacion {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  color: #838688;
}
.btn-publicacion.eliminar:hover {
  background: #eeeeee;
  color: green;
}
.btn-publicacion.editar:hover {
  background: #eeeeee;
  color: crimson;
}
.fas.fa-trash-alt,
.fas.fa-pencil-alt {
  padding-right: 5px;
}
fieldset {
  padding: 10px;
  border: 1px dashed #838688;
}
fieldset p {
  padding-bottom: 10px;
}
/* ---------------------------------------Fin Main------------------------------------------- */
/* ---------------------------------------Footer------------------------------------------- */
.footer {
  grid-area: footer;
  /* background: yellowgreen; */
}
/* ---------------------------------------Fin Footer------------------------------------------- */
